.grid-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    margin-top: 16px;
    align-items: start;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.user-search {
    width: 30%;
    padding: 8px 12px;
    margin: 16px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
